.banner-logistica{
    background-image: url("../../../src/assets/Duolog-Servicios-logisticos-de-transporte-de-carga-y-almacenaje_A-06.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 55vh;
    width: 100%;
}
.img{
    width: 300px;
    height: 300px;
}